@using DeliveryService.Models.DriverViewModels;
@using Newtonsoft.Json
@model DriverSingleDeliveryMapView

@{
    ViewData["Title"] = "Delivery map view";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Delivery map view</h1>

<style>
    #map {
        height: 600px;
        width: 100%;
    }

    #main-container {
        overflow: hidden;
        margin-top: 40px;
    }
</style>
<body>
    <div id="main-container">
        <div id="map"></div>
    </div>
    <script>
            var modelJson = @Html.Raw(JsonConvert.SerializeObject(Model));
            console.log(modelJson);
            function initMap() {
                var myLatLng = {lat: @Model.locationLat, lng: @Model.locationLng};

                var contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h4 id="firstHeading" class="firstHeading">Delivery details</h4>'+
          '<div id="bodyContent">'+
          '<p><b>Address: </b>' + modelJson.addressString + '</p>'+
          '<p><b>Current status: </b>' + modelJson.currentStatus + '</p>'+
          '<p><b>Client: </b>' + modelJson.clientName + '</p>'+
          '<p><b>Deliver by: </b>' + modelJson.deliverBy + '</p>'+
          '</div>'+
          '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 16,
                    center: myLatLng
                });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map
                });

                infowindow.open(map, marker);
                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });
            }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCruDMQXf92lZMvfCEO_L9E2oYjvuRfPaI&callback=initMap">
    </script>
    <br />
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-default">Back to Deliveries</a>
</body>