@{
    ViewData["Title"] = "Access denied";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        @if (ViewData["Dashboard"]!=null) { 
            <p>Oops, something went wrong!Please <a asp-controller=@ViewData["Dashboard"] asp-action="Index">Click here</a> to go back to your dashboard</p>
        }
        else
        {
            <p>Oops, something went wrong!Please contact us <a asp-controller="Home" asp-action="Contact"> here </a> </p>
        }
    </p>
</div>
