@{
    ViewData["Title"] = "About Delivery Service";
}
<h2>@ViewData["Title"].</h2>

<p>Hi! Welcome to the delivery service which enables you to either deliver your goods to your clients or, if you are a driver, earn some money doing work that you love!</p>
