@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<h3>Do not hesitate to contact whenever you are in need of help.</h3>

<address>
    University of Susssex<br />
    Brighton<br />
</address>

<address>
    <strong>Support and questions:</strong> <a href="mailto:of45@sussex.ac.uk">of45@sussex.ac.uk</a><br />
</address>
