@using DeliveryService.Models.Entities
@model Driver

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Driver's Dashboard</h2>


<p class="btn btn-default">@Html.ActionLink("My Routes", "Index", "DriverRoutes")</p>
<p class="btn btn-default">@Html.ActionLink("My Details", "Index", "DriverDetails")</p>
<p class="btn btn-default">@Html.ActionLink("My vehicles", "Index", "Vehicles")</p>