@using DeliveryService.Models.Entities
@model Driver

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Driver's Dashboard</h2>


<p class="btn btn-default">@Html.ActionLink("My Routes", "Index", "DriverRoutes")</p>
<p class="btn btn-default">@Html.ActionLink("My Details", "Index", "DriverDetails")</p>

@if (Model.Vehicles.ToList().Count == 0)
{
    <p> Please take time to add your vehicles into the system! Otherwise no routes can be assigned to you.</p>

    @Html.ActionLink("Add vehicles", "Create", "Vehicles", null, new { @class = "btn btn-warning" })
}
else
{
<p class="btn btn-default">@Html.ActionLink("My vehicles", "Index", "Vehicles")</p>
}