
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<p>shipper's dashboard</p>

@Html.ActionLink("see Team", "Index", "Teams")

@Html.ActionLink("See clients", "Index", "Clients")